
<div id="main-title">
	<h1>Journal</h1>
	<h4>Wandering thoughts of Amanda Kievet.</h4>
</div>
<% @posts.each do |post| %>
<a href="/posts/<%= post.id %>">
	<div class="sixteen columns post-title ">
		<hr>
		<div style="height: 50px;"></div>
		<div class="five columns alpha">
			<img src="<%= post.head_img %>">
		</div>
		<div class="eleven columns omega">
			<div class="post-date">
				<h6><%= post.date %></h6>
			</div>
			<h3 class="title"><%= post.title %></h3>
			<h4 class="subtitle"><%= post.subtitle %></h4>
			
			
		</a>
		<% if admin %>
		<a href="/posts/<%= post.id %>/edit">Edit</a>
		<% end %>
	</div>
</div>
<% end %>

</div>
