<div class="eleven columns">
<h1>Edit Post</h1>
<form action="/posts/<%= @post.id %>" method="post" class="edit-post">
	<input type="hidden" name="_method" value="patch">
	Title: <input type="text" name="title" value="<%= @post.title %>">
	Subtitle: <input type="text" name="subtitle" value="<%= @post.subtitle %>">
	Image: <input type="text" name="image" value="<%= @post.head_img%>">
	Body: <textarea name="body" rows="15" cols="100%"><%= @post.body %></textarea>
	<input type="submit" value="Edit Post">
</form>
</div>
<div class="four columns offset-by-one">
	
	<h4>Tags</h4>
	<ul class="edit-tags"></ul>






	<h4>Body Image(s)</h4>
	<% @images.each do |image| %>
		<img src="<%= image.image_src %>" class="img-thumb">
		<p><%= image.caption %></p>
		<form action="/posts/<%= @post.id %>/images/<%= image.id %>" method="post">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Delete Image">
		</form>
	<% end %>
	<a href="/posts/<%= @post.id %>/images/new">Add an Image</a>
</div>


<script>
	$(function(){


		getTagState();

		



	});
</script>
