<section>
	<img src="<%= @post.head_img %>" class="scale-with-grid">
	<div class="post-title">
		<h1><%= @post.title %></h1><br>
		<h3><%= @post.subtitle %></h3>
	</div>
</section>
<div class="post-body fourteen columns offset-by-one">
	<%= @post.body %>
</div>
<div class="post-footer fourteen columns offset-by-one">
	Created At: <%= @post.created_at %> by <%= @post.author %>
</div>
<div class="tags fourteen columns offset-by-one">
	<ul>
		<% @tags.each do |tag| %>
		<li><a href="/tagged/<%= tag.word %>"><%= tag.word %></a></li>
		<% end %>
	</ul>
</div>
<% if admin %>
<a href="/posts/<%= @post.id %>/edit">Edit</a>

<form action="/posts/<%= @post.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Post">
</form>
<% end %>